.search{
    margin-left:1%;
}
#form{
    border:2px solid black;
    margin-top:5em;
    font-size:1em;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 2em;
    padding-top:2em;
    padding-bottom: 2em;
    background-color: rgba(122,45,67,0.7);
}

#label{
    margin-left: 12%;
}
@media only screen and (max-width:750px){ 
    #label{
        margin-left: 12%;
    }
}
@media only screen and (max-width:500px){ 
    #label{
        margin-left: 2%;
    }
    input{
        padding-left:0%;
        width:50%;
    }
}

